$colorAzul: #50618F;
$colorPiel: #F7DCCB;

html{
  font-family: 'Open Sans', sans-serif;
  color: $colorAzul;
  background-color: $colorPiel;
}
h1{
  font-family: platelet, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: $colorAzul;
  background-color: $colorPiel;
  width: 100%;
  padding: 20px;
  margin: 0px;
  text-align: center;
  font-size: 400%;
}
footer{
  color:$colorAzul;
  font-size: 80%;
  background-color: lightgray;
  text-align: center;
  margin-top: 200px;

}

nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: whitesmoke;
  margin: 0;
  padding: 10px;
  ul {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    width: 100%;
}
  li {
    display: flex;
  }
  .sticky2{
    position: fixed;
    width: 100%;
  }
  .sticky1{
    position: fixed;
    width: 100%;
    top: 0;
  }
  a {
    display: block;
    padding: 2px;
    background-color: whitesmoke;
  }
  a:link {
    color: darkslateblue; 
    background-color: transparent; 
    text-decoration: none;
  }
  a:hover {
    color: peachpuff;
    background-color: transparent;
    text-decoration: underline;
}
}

@mixin important-frases {
  color: $colorAzul;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}
@mixin important-queremos {
  color: $colorPiel;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  padding: 20px;
}
.fraseInicio {
  @include important-frases;
}
.quienes-somos {
  @include important-frases;
  text-align: left;
}
.video {
  padding: 50px;
}
.procesoPasos {
  p{
    font-family: 'Open Sans', sans-serif;
    color: $colorAzul;
    text-align: left;
    padding: 20px;
  }
}
#grillaTienda{
  display:grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 450px);
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  justify-content: center;
  margin-top: 100px;

  grid-template-areas: 
    "producto1 producto2 producto3"
    "producto4 producto5 producto6"
}
.producto1 {
  background-color: peachpuff;
  grid-area:producto1;
  text-align: center;
}
.producto2 {
  background-color: peachpuff;
  grid-area:producto2;
  text-align: center;
}
.producto3 {
  background-color: peachpuff;
  grid-area:producto3;
  text-align: center;
  
}
.producto4 {
  background-color: peachpuff;
  grid-area:producto4;
  text-align: center;
}
.producto5 {
  background-color: peachpuff;
  grid-area:producto5;
  text-align: center;
}
.producto6 {
  background-color: peachpuff;
  grid-area:producto6;
  text-align: center;
}

.FotoProducto {
  justify-content: center;
  width: 300px;
  height: 400px;
}
article{
  transition: transform .2s;
}
article:hover {
   transform: scale(1.2);
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
h3{
  font-family: 'Open Sans', sans-serif;
  color: $colorAzul;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}
form{
    background-color: darkslateblue;
    width: 350px;
    border: 20px solid whitesmoke;
    border-radius: 30px;
    padding: 50px;
    margin: 20px;
    text-align: left;
    color: snow;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 200px;
 }

form:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.queremos{
  @include important-queremos;
}
